<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jc-nest</string>
	<key>connections</key>
	<dict>
		<key>0701BE72-EC48-47B0-8EA1-7237223B6847</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEBC9CAC-E0ED-428F-ADDD-2609F9701053</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2ADDAEE0-1B40-4854-8D3B-F69D3BBF35C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8C69473-7E15-4B09-ABA0-0C77B8AAFA75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4BA98F5A-42F1-47D1-A420-1E0ECAF7421B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA3DCB1F-DFD3-4364-9CEA-42D4677FF653</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5837DD24-97C1-4E59-A188-68C9A623F635</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59CD1C33-4200-4B00-BD37-9488FC26C33A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>59CD1C33-4200-4B00-BD37-9488FC26C33A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C5DEFD5-3025-4222-87AA-4BB2D9B8270A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6F985B9F-17EC-4640-B981-BD578917750E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1CC61CB-FAA7-4831-B5A9-CEA65ACB214E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>79607984-EF5E-4258-90AA-803C8EFB0CA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95544FFE-06C0-46D4-B81A-383C77D36A21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>95544FFE-06C0-46D4-B81A-383C77D36A21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C5DEFD5-3025-4222-87AA-4BB2D9B8270A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B15BB9F9-1A8A-4F95-80CD-9C6A7179DDD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C5DEFD5-3025-4222-87AA-4BB2D9B8270A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B1CC61CB-FAA7-4831-B5A9-CEA65ACB214E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C5DEFD5-3025-4222-87AA-4BB2D9B8270A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BA3DCB1F-DFD3-4364-9CEA-42D4677FF653</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C5DEFD5-3025-4222-87AA-4BB2D9B8270A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E8C69473-7E15-4B09-ABA0-0C77B8AAFA75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C5DEFD5-3025-4222-87AA-4BB2D9B8270A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FDA5BD3A-C30F-4FC1-8251-BA9CB1E97589</key>
		<array/>
		<key>FE3559FA-EBC6-4F5D-A897-B5EFADE44AEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B15BB9F9-1A8A-4F95-80CD-9C6A7179DDD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Cheatham</string>
	<key>description</key>
	<string>Control a Nest thermostat</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Nest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nest temp</string>
				<key>runningsubtext</key>
				<string>Talking to Nest...</string>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().tell('target', '{query}')</string>
				<key>subtext</key>
				<string>Get or set a Nest's target temperature</string>
				<key>title</key>
				<string>temp</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4BA98F5A-42F1-47D1-A420-1E0ECAF7421B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().do('target', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BA3DCB1F-DFD3-4364-9CEA-42D4677FF653</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Nest</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9C5DEFD5-3025-4222-87AA-4BB2D9B8270A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().do('fan', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E8C69473-7E15-4B09-ABA0-0C77B8AAFA75</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>nest fan</string>
				<key>runningsubtext</key>
				<string>Talking to Nest...</string>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().tell('fan')</string>
				<key>subtext</key>
				<string>Get and set a Nest's fan mode</string>
				<key>title</key>
				<string>fan</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2ADDAEE0-1B40-4854-8D3B-F69D3BBF35C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>nest away</string>
				<key>runningsubtext</key>
				<string>Talking to Nest...</string>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().tell('away')</string>
				<key>subtext</key>
				<string>Get and set your home's "away" status</string>
				<key>title</key>
				<string>away</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F985B9F-17EC-4640-B981-BD578917750E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().do('away', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B1CC61CB-FAA7-4831-B5A9-CEA65ACB214E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>nest mode</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().tell('mode', '{query}')</string>
				<key>subtext</key>
				<string>Set a Nest's heat/cool mode</string>
				<key>title</key>
				<string>mode</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5837DD24-97C1-4E59-A188-68C9A623F635</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().do('mode', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>59CD1C33-4200-4B00-BD37-9488FC26C33A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>47</integer>
				<key>keyword</key>
				<string>nest weather</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().tell('weather', '{query}')</string>
				<key>subtext</key>
				<string>Weather forecast for your location</string>
				<key>title</key>
				<string>weather</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FDA5BD3A-C30F-4FC1-8251-BA9CB1E97589</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>nest status</string>
				<key>runningsubtext</key>
				<string>Talking to Nest...</string>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().tell('status')</string>
				<key>subtext</key>
				<string>Show the status of the active Nest</string>
				<key>title</key>
				<string>status</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3817F473-F259-44D4-A6B9-EA1C81A4005C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nest nest</string>
				<key>runningsubtext</key>
				<string>Finding Nests…</string>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().tell('nest', '{query}')</string>
				<key>subtext</key>
				<string>List your Nests and choose the active one</string>
				<key>title</key>
				<string>nest</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FE3559FA-EBC6-4F5D-A897-B5EFADE44AEB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().do('nest', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B15BB9F9-1A8A-4F95-80CD-9C6A7179DDD3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nest log</string>
				<key>subtext</key>
				<string>Show debug log</string>
				<key>text</key>
				<string>log</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0701BE72-EC48-47B0-8EA1-7237223B6847</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().do('debug')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EEBC9CAC-E0ED-428F-ADDD-2609F9701053</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nest clear</string>
				<key>subtext</key>
				<string>Clear your current session (can help with connection issues)</string>
				<key>text</key>
				<string>clear</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>79607984-EF5E-4258-90AA-803C8EFB0CA2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from alfred_nest import NestWorkflow
NestWorkflow().do('clear')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95544FFE-06C0-46D4-B81A-383C77D36A21</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0701BE72-EC48-47B0-8EA1-7237223B6847</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>2ADDAEE0-1B40-4854-8D3B-F69D3BBF35C6</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>3817F473-F259-44D4-A6B9-EA1C81A4005C</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>4BA98F5A-42F1-47D1-A420-1E0ECAF7421B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5837DD24-97C1-4E59-A188-68C9A623F635</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>59CD1C33-4200-4B00-BD37-9488FC26C33A</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>6F985B9F-17EC-4640-B981-BD578917750E</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>79607984-EF5E-4258-90AA-803C8EFB0CA2</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>95544FFE-06C0-46D4-B81A-383C77D36A21</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>9C5DEFD5-3025-4222-87AA-4BB2D9B8270A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B15BB9F9-1A8A-4F95-80CD-9C6A7179DDD3</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>B1CC61CB-FAA7-4831-B5A9-CEA65ACB214E</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BA3DCB1F-DFD3-4364-9CEA-42D4677FF653</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E8C69473-7E15-4B09-ABA0-0C77B8AAFA75</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>EEBC9CAC-E0ED-428F-ADDD-2609F9701053</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>FDA5BD3A-C30F-4FC1-8251-BA9CB1E97589</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>FE3559FA-EBC6-4F5D-A897-B5EFADE44AEB</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/jason0x43/jc-nest</string>
</dict>
</plist>
